extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Jordan Kittle

        p.lead.text-light
          | Full Stack JavaScript Developer

        .portfolio-bio
          p
            | I am a web developer from Santa Barbara, CA and I have the cutest son in the universe. I know everybody thinks their child is the cutest but mine actually is. I hold a B.S. in Soil Science from California Polytechnic State University, San Luis Obispo. Currently, I'm working toward a Full Stack JavaScript techdegree from Treehouse. One of my favorite things is hitting the refresh button and seeing my program do exactly what it should. Another is the feeling of my knee-puck scraping the asphalt at 100mph or flying through the desert at above freeway speeds on my motorcycles. Above all, I love being the best father and husband I can be.

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li CSS
          li HTML
          li PHP
          li SQL
          li jQuery
          li Node.js
          li Express
          li Magento
          li Shopify
          li Wordpress
          li Braaap
        h6 Contact Info

        ul
          li 805-705-4294
          li 
            a(href='mailto:contact@jordankittle.com')
              | contact@jordankittle.com

        a.button.expanded(href='https://github.com/jordankittle', target='_blank') GitHub
        a.button.expanded(href='https://twitter.com/jordankittle' target='_blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  