extends layout.pug

block content
	h2= error.message
	h5 Error #{error.status}
	
	a(href="/") ← Home
	br
	a#stack-trace-toggle(href='#',onclick='showStackTrace();return false')
			| ❐ Show stack trace
	pre#stack-trace= error.stack
